<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between"><span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2019 <a class="text-muted" href="https://www.templatewatch.com/" target="_blank">Reports365</a>. Todos los derechos reservados.</span><span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Bolefact brindando soluciones tecnológicas</span></div>
</footer>