<!DOCTYPE html>
<!-- Mirrored from www.templatewatch.com/regal-free/template/pages/samples/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Jul 2019 15:39:55 GMT-->
<head>
   <!-- Required meta tags-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Bolefact</title>
   <!-- base:css-->
   <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
   <link rel="stylesheet" href="vendors/feather/feather.css">
   <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
   <!-- endinject-->
   <!-- plugin css for this page-->
   <!-- End plugin css for this page-->
   <!-- inject:css-->
   <link rel="stylesheet" href="css/style.css">
   <!-- endinject-->
   <!--link rel="shortcut icon" href="images/favicon.png"-->
</head>
<div class="container-scroller">
   <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
         <div class="row flex-grow">
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
               <div class="auth-form-transparent text-left p-3">
                  <div class="brand-logo"><!--img src="images/logo-dark.svg" alt="logo"--></div>
                  <h4>Bienvenido</h4>
                  <h6 class="font-weight-light">Ingresa tus credenciales para acceder</h6>
                  <div class="pt-3">
                     <div class="form-group">
                        <label for="username">Usuario</label>
                        <div class="input-group">
                           <div class="input-group-prepend bg-transparent"><span class="input-group-text bg-transparent border-right-0"><i class="mdi mdi-account-outline text-primary"></i></span></div>
                           <input class="form-control form-control-lg border-left-0" id="username" type="text"
                              placeholder="Usuario" type="text">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="password">Contraseña</label>
                        <div class="input-group">
                           <div class="input-group-prepend bg-transparent"><span class="input-group-text bg-transparent border-right-0"><i class="mdi mdi-lock-outline text-primary"></i></span></div>
                           <input class="form-control form-control-lg border-left-0" id="password" type="password"
                              placeholder="Contraseña">
                        </div>
                     </div>
                     <div class="my-2 d-flex justify-content-between align-items-center">
                        <div class="form-check"><label class="form-check-label text-muted"><input class="form-check-input" type="checkbox">                      Mantener session activa</label></div>
                        <!-- a href="#" class="auth-link text-black">Forgot password?</a-->
                     </div>
                     <div class="my-3"><button class="btn btn-primary btn-lg btn-block" onclick="login()">INGRESAR</button></div>
                     <!--div class="mb-2 d-flex">
                        <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                        <i class="mdi mdi-facebook mr-2"></i>
                        Facebook
                        </button>
                        <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                        <i class="mdi mdi-google mr-2"></i>
                        Google
                        </button>
                        </div-->
                     <!--div class="text-center mt-4 font-weight-light">
                        Don't have an account? <a href="register-2.html" class="text-primary">Create</a>
                        </div-->
                  </div>
               </div>
            </div>
            <div class="col-lg-6 login-half-bg d-flex flex-row">
               <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2019 All rights reserved.</p>
            </div>
         </div>
      </div>
      <!-- content-wrapper ends-->
   </div>
   <!-- page-body-wrapper ends-->
</div>
<!-- container-scroller-->
<!-- base:js-->
<script src="vendors/base/vendor.bundle.base.js"></script>
<!-- endinject-->
<!-- inject:js-->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/login.js"></script>